#header {
  background-color: #d54751;
}

#logo-nav {
  background-color: #ef9a48;
}

#logo-name {
  font-size: 30px;
  margin: 5px;
}

#img-logo {
  background-color: #4da394;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#navbarSupportedContent {
  background-color: #ef9a48;
}

#banner-topo {
  border-radius: 5px;
}

header p {
  color: #ffffff;
  font-weight: 600;
}

h1 {
  font-size: 63px;
  color: #303030;
  padding: 15px;
  color: wheat;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
}

.card-body {
  background-color: #4da394;
  color: #ffffff;
}

.btn {
  background-color: #fffcc7;
}

#texto-img-rodape {
  font-size: 30px;
}

#rodape {
  background-color: #d54751;
  color: #ffffff;
}
