@import url('https://fonts.googleapis.com/css2?family=Honk&family=Share+Tech&display=swap');

body {
  font-family: Share Tech, Courier, monospace;
}

#home {
  background-color: #d54751;
}

#logo-nav {
  background-color: #ef9a48;
}

#logo-name {
  font-size: 30px;
  margin: 5px;
}

#img-logo {
  background-color: #4da394;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#navbarSupportedContent {
  background-color: #ef9a48;
}

#banner-topo {
  border-radius: 50%;
  background-color: #4da394;
}

header p {
  color: #ffffff;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #070707;
}

h1 {
  font-size: 63px;
  color: #303030;
  padding: 15px;
  color: wheat;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
}

h4 {
  font-size: 75px;
  border-radius: 5px;
}

#minha-introducao {
  border-radius: 5px;
}

.contato-item {
  list-style: none;
}

.card-body {
  background-color: #4da394;
  color: #ffffff;
}

#texto-img-rodape {
  font-size: 30px;
}

#rodape {
  background-color: #d54751;
  color: #ffffff;
}
